@tailwind base;

@layer base {

    html,
    body {
        padding: 0;
        margin: 0;
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
            Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
            sans-serif;
    }

    * {
        box-sizing: border-box;
    }

    h1 {
        @apply text-3xl;
    }

    h2 {
        @apply text-2xl;
    }

    h3 {
        @apply text-xl;
    }

    h4 {
        @apply text-lg;
    }

    /* Should not be used at all */
    h5 {
        @apply text-base;
    }

    h6 {
        @apply text-sm;
    }

    @font-face {
        font-family: SignPainter;
        font-weight: 100;
        src: url(/SignPainter-HouseScript.ttf);
        font-display: swap;
    }

}

@tailwind components;

@tailwind utilities;
